.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

h3 {
  text-align: center;
  color: #7fff00;
  text-decoration: underline;
}

p {
  color: hsl(35, 39%, 74%);
  font-size: 19px;
}

.rulesIntro {
  font-weight: 900;
  font-size: 20px;
  color: white;
}

.container {
  background-color: #1c3232;
  z-index: 10;
  position: absolute;
  left: calc(50% - 35vw);
  top: calc(50% - 37vh);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 5px;
  width: 70vw;
  height: 78vh;
  border: 3px solid #7fff00;
  box-shadow: 0 0 1px #c5fb7d, 0 0 2px #c5fb7d, 0 0 6px #c5fb7d,
    0 0 12px #c5fb7d, inset 0 0 1px #c5fb7d, inset 0 0 2px #c5fb7d,
    inset 0 0 6px #c5fb7d, inset 0 0 12px #c5fb7d;
}
.rules {
  width: 30vw;
  padding: 10px;
  position: relative;
  padding-right: 20px;
}

.wrap {
  position: relative;
  margin-top: 5px;
  padding: 10px;
  padding-left: 20px;
  width: 30vw;
}

.wrap::before {
  content: "";
  position: absolute;
  background-color: rgb(28, 16, 16);
  height: 75vh;
  left: -0.3vw;
  top: 0.5vh;
  width: 2px;
}

.rules img {
  position: absolute;
  top: 3.5vh;
  left: 4vh;
  height: 5.5vh;
  width: 4.5vw;
}

/* règles simplifiées */

.container2 {
  background-color: hsl(180, 28%, 15%);
  padding: 20px;
  margin: 5px;
  margin-top: 130px;
  width: 49vw;
  height: 70vh;
  border: 3px solid #7fff00;
  box-shadow: 0 0 1px #c5fb7d, 0 0 2px #c5fb7d, 0 0 6px #c5fb7d,
    0 0 12px #c5fb7d, inset 0 0 1px #c5fb7d, inset 0 0 2px #c5fb7d,
    inset 0 0 6px #c5fb7d, inset 0 0 12px #c5fb7d;
}
.container2 p {
  text-align: center;
}

.wrapButton {
  width: 50vw;
  text-align: center;
  margin-top: 50px;
}
